html {
	min-height: 100%;
	maring: 0;
	padding: 0;
	position: relative;
}

body {
	background-image: url('images/bg_pic2.jpg');
	background-position: fixed;

}

/*nav bar*/
.navbar {
	background-color: #fff!important;
	border-bottom: solid 2px #ddd;
	padding: 0!important;

}

.navbar-brand {
	padding: 0!important;
}

#headername {
	height: 70px!important;
	width: 200px!important;
	background-color: #4aaaa5!important;
	padding: 0!important;
	text-align: center;
	padding-top: 14px!important;
	color: #fff;
	font-family: none;
	font-size: 30px!important;
}

.active {
	color: #4aaaa5!important;
}

.nav-item {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 20px;
}

.nav-item:hover {
	background-color: #4aaaa5;
}

.nav-link:hover {
	color: #fff!important;
}

.tagbreak {
	height: 30px;
	width: 2px;
	background-color: #ddd;
}

/*main body*/
.intro:first-letter {
	font-family: none;
	font-size: 26px;
	color: #4aaaa5;
}

.container {
	padding: 0!important;
}

h2 {
	font-family: none;
	color: #4aaaa5;
	font-size: 40px;	
}

.box {
	border: solid 3px #ddd;
	background-color: #fff;
	margin-bottom: 100px!important;
	padding: 20px!important;
	margin-left: 10%;
}

.profile {
	width: 300px;
	margin-right: 20px;
}

.break {
	height: 2px;
	background-color: #ddd;
	width: 100%;
	margin-bottom: 15px;	
}

/*portfolio main body*/
#tgllogo {
    background-image: url("images/tgjlogo.jpg");
}

#javascript {
    background-image: url("images/javascript.png");
}

#htmlcss {
    background-image: url("images/htmlcss.jpg");
}

#photoshop {
    background-image: url("images/photoshop.jpg");
}

#photography {
    background-image: url("images/photography.jpg");
}

.portfolioname {
	height: 30px;
	width: 250px;
	background-color: #4aaaa5;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	font-family: none;
	margin: 140px 25px;
}

.picture {
    width: 250px;
    height: 215px;
    background-size: cover;
    margin: 10px;
}

.btn-primary {
	background-color: #4aaaa5!important;
	border-radius: 0!important;
	border: none!important;
}

/*footer*/

.footer {
	width: 100%;
	height: 60px;
	background-color: #666;
	border-top: solid #4aaaa5 3px;
	text-align: center;
	padding-top: 30px;
	font-size: 12px;
	color: #ddd;
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 990px) {
	.tagbreak {
		width: 0;
		height: 0;
	}
}